@font-face {
    font-family: 'Routed Gothic';
    src: url('../../assets/fonts/routed-gothic.ttf');
}

.aboutContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

}

.pfpWrapper{
    margin-right: 50px;
}

.pfpWrapper img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin-top: 10px;
}

.aboutInfoWrapper p{
    font-family: Routed Gothic;
}

.socials{
    display: flex;
    flex-direction: row;

}

.socialLinks {
    list-style: none;
    margin: 5px;
}


.socialLinks img{
    height: 30px;
    width: auto;
    cursor: pointer;
}