.aboutContent{
    display: flex;
    flex-direction: row;
}

.imgWrapper{
    max-width: 40%;
    max-height: 55%;
    height: auto;
}

.imgWrapper img{
    width: 100%;
}

.aboutInfoWrapper{
    width: 60%;
    padding: 0 30px;
    line-height: 1.8em;
}

.email{
    color: black;
}

.email:hover{
    color: #D373B2;
}

@media screen and (max-width: 750px) {
    .aboutContent{
        flex-direction: column;
        align-items: center;
    }
    .aboutInfoWrapper{
        width: 90%;
    }
}
