@font-face {
    font-family: 'Routed Gothic';
    src: url('../../assets/fonts/routed-gothic.ttf');
}

.seriesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
}

.seriesWrapper{
    position: relative;
    width: 35vw;
    height: 40vh;
    margin: 10px;
}

.seriesWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.seriesTitle{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .5);
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    opacity: 0;
    font-family: Routed Gothic;
}

.seriesWrapper:hover .seriesTitle{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 500px){
    .seriesTitle{
        font-size: 16px;
    }
}