@font-face {
    font-family: 'Routed Gothic';
    src: url('../../assets/fonts/routed-gothic.ttf');
}

.singleImg{
    width: 100%;
    height: auto;
    max-width: 85%;
    display: block;
    margin: auto;
}

.title{
    position: absolute;
    bottom: 5%;
    font-family: Routed Gothic;
    font-weight: normal;
}