*{
    box-sizing: border-box;
}

.slider{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 130px);
    width: 100%;
    justify-content:flex-start;
}

.thumbRow{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.thumbnail{
    width: 120px;
    height: 90px;
    margin-bottom: 5px;
    cursor: pointer;
}

.thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.thumbnail:hover{
    border: 2px solid #D373B2;
}

.mainRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mainImgWrapper{
    height: 80%;
    display: flex;
}

.mainImg{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}

.titleRow{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 8%;
    justify-content: space-between;
    align-items: center;
}
.titleRow h2{
    font-size: 20px;
}

.leftArrow, .rightArrow{
    width: 40px;
    height: auto;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .slider{
        flex-direction: column;
        height: 100%;
    }
    .thumbRow{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        flex: blue;
    }
    .thumbnail{
        width: 80px;
        height: 60px;
        margin: 4px;
    }
    .titleRow{
        width: 100%;
    }
    .mainRow{
        height: 60vh;
    }
    .mainImgWrapper{
        height: 60%;
    }

}