.slider{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImgWrapper{
    width: 60vw;
}

.sliderImg{
   max-height: 100%;
   max-width: 100%;
   object-fit: contain;
}

.leftArrow, .rightArrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    font-size: medium;
}

.leftArrow{
    left: 0;
}

.rightArrow{
    right: 0;
}

.slide.active{
    opacity: 1;

}

.slide{
    transition: ease-out 0.2s;
}