.navBarContainer{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px 35px 0 35px;
}


.logo{
    text-decoration: none;
    color: #666633;
    font-size: 40px;
    cursor: pointer;
    font-family: Source Code Pro;
    font-weight: bold;
}

.navItems{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    font-family: Source Code Pro;  
    font-weight: bold;
}

.navItem{
    font-size: 20px;
    text-decoration: none;
    color: #666633;
    display: block;
}

.navItem:hover, .dropdown:hover .dropBtn{
    color: #FF9966;
}

.navItem.active{
    color: #FF9966;
}

#instagram img{
    height: 20px;
    width: auto;
    cursor: pointer;
    vertical-align: middle;
}

.downArrow{
    height: 12px;
    width: auto;
    display: inline-block;
    color: #666633;
}
.dropdown{
    overflow: hidden;
    float: left;
}

.dropdown .dropBtn{
    border: none;
    background-color: white;
    color: #666633;
    outline: none;
    font-size: 20px;
    font-family: Source Code Pro;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 1;
}

.dropLink{
    text-decoration: none;
    display: block;
    color: #666633;
    font-size: 14px;
    margin: 2px 0;
    font-family: Source Code Pro;
    font-weight: normal;
}

.dropLink:hover{
    font-weight: bold;
}


.dropdown:hover .dropdownContent{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.menuIcon{
    display: none;
}

@media screen and (max-width:1000px) {
    .menuIcon{
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    .menuIcon img{
        height: 32px;
        width: auto;
    }
}

@media screen and (max-width: 1000px) {
    .navItems{
        background-color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 80px;
        width: 100%;
        height: 90vh;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content:space-around;
    }

    .navItems.active{
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;    
    }

    .navItem, .dropdown .dropBtn{
    display: none;
    font-size: 20px;
    }

    .navItems.active .navItem{
        float: none;
        display: block;
        text-align: center;
    }

    .navItems.active .dropdown{
        float: none;
    }
    .navItems.active .dropdownContent{
        position: relative;
    }

    .navItems.active .dropLink{
        text-align: center;
        margin: 10px 0;
    }
    .navItems.active .dropdown .dropBtn{
        display: block;
        width: 100%;
        text-align: center;
        background-color: white;
    }

    .navItems.active #instagram{
        position: relative;
    }

    .navItems.active #instagram img{
        margin-left: 50%;
        margin-right: auto;
        display: block;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 390px) {
    .logo{
        margin-left: 10vw
    }
}

