.sideBarContainer{
    height: 100%;
    width: 155px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
}

.logoWrapper{
    margin-top: 25px;
    padding-left: 20px;
}

.logo{
    text-decoration: none;
    font-size: 40px;
    color: black;
}
.navItems{
    padding-left: 25px;
    margin-top: 30px;
}

.navItem{
    list-style: none;
    margin-top: 15px;
}
.navLinks{
    text-decoration: none;
    color: black;
}


.socials{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;

}

.socialLinks {
    list-style: none;
    margin: 0 5px;
}

.socialLinks img{
    height: 30px;
    width: auto;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .sideBarContainer{
        width: 100px;
    }

    .logo{
        font-size: 25px;
    }

    .navLinks{
        font-size: 14px;
    }

    .socialLinks img{
        height: 20px;
    }
}
