@font-face {
    font-family: 'Noto Sans-light';
    src: url('../../assets/fonts/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto Regular';
    src: url('../../assets/fonts/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Routed Gothic';
    src: url('../../assets/fonts/routed-gothic.ttf');
}
.sideBarContainer{
    height: 100%;
    width: 155px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background: transparent;
}

.logoWrapper{
    margin-top: 25px;
    padding-left: 20px;
}

.logo.home{
    color: white;
}

.logo{
    text-decoration: none;
    font-size: 40px;
    color: #663366;
    font-family: Routed Gothic;
    line-height: .8;
}
.navItems{
    padding-left: 25px;
    margin-top: 30px;
}

.navItem{
    list-style: none;
    margin-top: 15px;
}

.navLinks{
    text-decoration: none;
    color: #330033;
    font-family: Routed Gothic;
}

.navLinks.home{
    color: white;
}


@media screen and (max-width: 600px) {
    .sideBarContainer{
        width: 100px;
    }

    .logo{
        font-size: 25px;
    }

    .navLinks{
        font-size: 14px;
    }

    .socialLinks img{
        height: 20px;
    }
}
