@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'Free Pixel';
    src: url('./assets/fonts/FreePixel.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/VT323-Regular.ttf');
}

@font-face {
    font-family: 'Arimo';
    src: url('./assets/fonts/Arimo-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./assets/fonts/SourceCodePro-VariableFont_wght.ttf');
}
.pageContainer{
    padding: 70px 35px;
}

.pageHeader{
    display: flex;
    width: 450px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 30px;
    text-align: center;
}


.sectionTitle, .sectionYear{
    font-family: Fira Code;
    color: #354531;
    font-size: 20px;
}

.sectionTitle{
    margin-right: 16px;
}
.sectionMatl{
    font-family: Fira Code;
}

h1, h2, h3{
    font-family: Fira Code;
    font-weight: 300;
    color: #354531;
}

p{
    font-family: Fira Code;
    color: #354531;
}



@media screen and (max-width: 390px) {
    .pageHeader{
        width: 400px;
        flex-direction: column;
    }
    .sectionTitle, .sectionYear{
        font-size: 16px;
    }

    .sectionTitle{
        margin: 0;
    }
    .sectionMatl{
        font-size: 12px;
    }
}
