@font-face {
    font-family: 'Routed Gothic';
    src: url('./assets/fonts/routed-gothic.ttf');
}

@font-face{
    font-family: 'Syne';
    src: url('./assets/fonts/Syne-regular.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla.ttf');
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode-Regular.ttf');
}

.pageContainer{
    padding: 70px 35px;
}

.pageHeader{
    display: inline;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
}

h1, h2, h3{
    font-family: Fira Code;
    font-weight: 300;
}

p{
    font-family: Fira Code;
}

.pageHeader h3{
    font-size: 20px;
}

.pageHeader p{
    font-weight:300;
}
