.singleSeries{
    display: flex;
    flex-direction: column;
    line-height: .8;
}

.seriesDesc{
    margin-left: 25px;
}

.seriesImgs{
    flex-direction: row;
    flex-wrap: wrap;
}

.seriesImgs img{
    width: 100%;
    max-width: 400px;
    height: auto;
}