@font-face {
    font-family: 'Routed Gothic';
    src: url('../../assets/fonts/routed-gothic.ttf');
}

.singleSeries{
    display: flex;
    margin: 20px 50px;
    flex-direction: column;
}

.singleSeries h1{
    font-family: Routed Gothic;
}

.seriesImgs{
    flex-direction: row;
    flex-wrap: wrap;
}

.seriesImgs img{
    width: 100%;
    max-width: 400px;
    height: auto;
}
